.fmq-main-page {
  .btn-load-data {
    font-size: 24px;
    padding: 12px 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .data-loaded .btn-load-data {
    font-size: 10px;
    padding: 10px 14px;
    margin-top: 0;
    margin-left: 0;
  }

  .table-container {
    table {
      img {
        max-width: 100px;
      }

      .marker-column-chooser {
        cursor: pointer;
      }
    }
  }

  .map-container {
    .angular-google-map-container {
      height: 400px;
      width: 100%;

      .gm-pro-popup {
        overflow: hidden;
        img {
          max-width: 70px;
          max-height: 70px;
        }
      }
    }
  }
}
