$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: $gray-base;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav.navbar-nav > li > a {
  text-transform: capitalize;
}

// partials
@import "../components/dashboard/styles";
@import "../components/about/styles";
@import "error-page";
@import "load-data-page";
@import "show-image-page";
