<span
  ng-attr-class="type-{{vm.type || 'unknown'}}"
>
  <a
    ng-if="vm.type == 'image'"
    class="show-image"
    ng-href="{{vm.data}}"
  >
    <img ng-src="{{vm.data}}" alt="" />
  </a>

  <a
    ng-if="vm.type == 'link'"
    target="_blank"
    ng-href="{{vm.data}}"
  >
    {{vm.data}}
  </a>

  <span
    ng-if="vm.type == 'latitude' || vm.type == 'longitude'"
  >
    <span
      class="glyphicon glyphicon-map-marker"
    ></span>
    <span>{{vm.data | decimal2dms:(vm.type == 'latitude')}}</span>
  </span>

  <span
    ng-if="!vm.type"
  >
    {{vm.data}}
  </span>
</span>
