<table class="fmq-table table table-striped">
  <thead>
    <tr>
      <th>
        <a class="all-items-selector" ng-click="toggleAllSelection()">
          <span
            ng-show="!allSelected"
            class="glyphicon glyphicon-unchecked"
            title="Display all on map"
          ></span>
          <span
            ng-show="allSelected"
            class="glyphicon glyphicon-check"
            title="Display none on map"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in header">
        <span class="column-label">{{column}}</span>
        <a class="marker-column-chooser" ng-click="chooseAsMarker($index)">
          <span
            ng-show="markerColumn != $index"
            class="glyphicon glyphicon-star-empty"
            title="Choose this column as description for markers"
          ></span>
          <span
            ng-show="markerColumn == $index"
            class="glyphicon glyphicon-star"
            title="This column is used as description for markers"
          ></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td>
        <a class="item-selector" ng-click="toggleSelection($index)">
          <span
            ng-show="!SelectHandler.isSelected(selectedItems, $index)"
            class="glyphicon glyphicon-unchecked"
            title="Display on map"
          ></span>
          <span
            ng-show="SelectHandler.isSelected(selectedItems, $index)"
            class="glyphicon glyphicon-check"
            title="Do not display on map"
          ></span>
        </a>
      </td>
      <td ng-repeat="column in item" ng-bind-html="column | fmqVisualize"></td>
    </tr>
    <tr ng-if="items.length == 0">
      <td colspan="{{header.length}}" class="alert alert-info">
        <p>No items</p>
      </td>
    </tr>
  </tbody>
</table>
