<table class="fmq-table table table-striped">
  <thead>
    <tr>
      <th>
        <a class="all-items-selector" ng-click="toggleAllSelection()">
          <span
            ng-show="!allSelected"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display all on map"
          ></span>
          <span
            ng-show="allSelected"
            class="glyphicon glyphicon-check"
            uib-tooltip="Display none on map"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in header">
        <a class="marker-column-chooser" ng-click="chooseAsMarker($index)">
          <span
            ng-show="markerColumn != $index"
            class="glyphicon glyphicon-star-empty"
            uib-tooltip="Choose this column as description for markers"
          ></span>
          <span
            ng-show="markerColumn == $index"
            class="glyphicon glyphicon-star"
            uib-tooltip="This column is used as description for markers"
          ></span>
        </a>
        <span class="column-label" ng-click="chooseAsMarker($index)">{{column}}</span>
      </th>
    </tr>
    <tr>
      <th>
        <a class="filters-sorts-reset" ng-click="resetFilters(); resetSorts()">
          <span
            class="glyphicon glyphicon-trash"
            uib-tooltip="Clear all filters and sorting"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in header">
        <div class="column-filter-and-sorter">
          <form ng-submit="void">
            <input type="text" ng-model="filterStates[$index]" placeholder="Filter" />
          </form>
          <a class="column-sorter" ng-click="applySortChange($index)">
            <span
              ng-show="SortHandler.notSorted(sortStates, $index)"
              class="glyphicon glyphicon-sort"
              uib-tooltip="Not sorted"
            ></span>
            <span
              ng-show="SortHandler.sortedAscending(sortStates, $index)"
              class="glyphicon glyphicon glyphicon-sort-by-attributes"
              uib-tooltip="Sorted ascending"
            ></span>
            <span
              ng-show="SortHandler.sortedDescending(sortStates, $index)"
              class="glyphicon glyphicon-sort-by-attributes-alt"
              uib-tooltip="Sorted descending"
            ></span>
          </a>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in filtered = (items | orderBy:predicate:reverse | filter:search)">
      <td>
        <a class="item-selector" ng-click="toggleSelection(items.indexOf(item))">
          <span
            ng-show="!SelectHandler.isSelected(selectedItems, items.indexOf(item))"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display on map"
          ></span>
          <span
            ng-show="SelectHandler.isSelected(selectedItems, items.indexOf(item))"
            class="glyphicon glyphicon-check"
            uib-tooltip="Do not display on map"
          ></span>
        </a>
      </td>
      <td ng-repeat="column in item">
        <span ng-if="!($index == latitudeColumn || $index == longitudeColumn)" ng-bind-html="column | fmqVisualize"></span>
        <span ng-if="$index == latitudeColumn || $index == longitudeColumn">
          <a
            ng-if="SelectHandler.isSelected(selectedItems, items.indexOf(item))"
            class="item-viewer"
            uib-tooltip="View on map"
            ng-click="viewItem(items.indexOf(item))"
          >
            <span
              class="glyphicon glyphicon-map-marker"
            ></span>
            <span>{{column | number:3}}</span>
          </a>
          <span ng-if="!SelectHandler.isSelected(selectedItems, items.indexOf(item))">{{column}}</span>
        </span>
      </td>
    </tr>
    <tr ng-if="filtered.length == 0">
      <td colspan="{{header.length + 2}}" class="alert alert-info">
        <p>No items</p>
      </td>
    </tr>
  </tbody>
</table>
