<table class="fmq-table table table-striped">
  <thead>
    <tr>
      <th>
        <a class="all-items-selector" ng-click="toggleAllSelection()">
          <span
            ng-show="!allSelected"
            class="glyphicon glyphicon-unchecked"
            title="Display all on map"
          ></span>
          <span
            ng-show="allSelected"
            class="glyphicon glyphicon-check"
            title="Display none on map"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in header">
        <a class="marker-column-chooser" ng-click="chooseAsMarker($index)">
          <span
            ng-show="markerColumn != $index"
            class="glyphicon glyphicon-star-empty"
            title="Choose this column as description for markers"
          ></span>
          <span
            ng-show="markerColumn == $index"
            class="glyphicon glyphicon-star"
            title="This column is used as description for markers"
          ></span>
        </a>
        <span class="column-label" ng-click="chooseAsMarker($index)">{{column}}</span>
      </th>
    </tr>
    <tr>
      <th></th>
      <th ng-repeat="column in header">
        <div class="column-filter-and-sorter">
          <input type="text" value="" placeholder="Filter" />
          <a class="column-sorter" ng-click="applySortChange($index)">
            <span
              ng-show="SortHandler.notSorted(sortStates, $index)"
              class="glyphicon glyphicon-sort"
              title="Not sorted"
            ></span>
            <span
              ng-show="SortHandler.sortedAscending(sortStates, $index)"
              class="glyphicon glyphicon glyphicon-sort-by-attributes"
              title="Sorted ascending"
            ></span>
            <span
              ng-show="SortHandler.sortedDescending(sortStates, $index)"
              class="glyphicon glyphicon-sort-by-attributes-alt"
              title="Sorted descending"
            ></span>
          </a>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items | orderBy:predicate:reverse">
      <td>
        <a class="item-selector" ng-click="toggleSelection($index)">
          <span
            ng-show="!SelectHandler.isSelected(selectedItems, $index)"
            class="glyphicon glyphicon-unchecked"
            title="Display on map"
          ></span>
          <span
            ng-show="SelectHandler.isSelected(selectedItems, $index)"
            class="glyphicon glyphicon-check"
            title="Do not display on map"
          ></span>
        </a>
      </td>
      <td ng-repeat="column in item" ng-bind-html="column | fmqVisualize"></td>
    </tr>
    <tr ng-if="items.length == 0">
      <td colspan="{{header.length}}" class="alert alert-info">
        <p>No items</p>
      </td>
    </tr>
  </tbody>
</table>
