<a class="column-sorter" ng-click="vm.changeSortState()">
  <span
    ng-show="vm.state == vm.SortStates.NONE"
    class="glyphicon glyphicon-sort"
    uib-tooltip="Not sorted"
  ></span>
  <span
    ng-show="vm.state == vm.SortStates.ASC"
    class="glyphicon glyphicon glyphicon-sort-by-attributes"
    uib-tooltip="Sorted ascending"
  ></span>
  <span
    ng-show="vm.state == vm.SortStates.DESC"
    class="glyphicon glyphicon-sort-by-attributes-alt"
    uib-tooltip="Sorted descending"
  ></span>
</a>
