<div class="fmq-load-data-page">
  <form ng-submit="vm.ok()">
    <div class="modal-header">
        <h3 class="modal-title">Load Founders</h3>
    </div>
    <div class="modal-body">
        <ol>
          <li>
            <p ng-show="vm.supportsFileReader">
              <fmq-file-reader
                class="btn btn-primary"
                text="vm.fileText"
                reset="true"
              >
                Choose File
              </fmq-file-reader>
              <span>or paste your data below directly:</span>
            </p>
            <p ng-if="!vm.supportsFileReader">
              Paste your data below:
            </p>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="5"
                ng-model="vm.form.raw"
                ng-change="vm.applyRawData();"
              ></textarea>
            </div>
          </li>
          <li>
            <p>Choose delimiter:</p>
            <label class="checkbox-inline" ng-repeat="item in vm.delimiters">
              <input
                type="radio"
                ng-model="vm.form.delimiter"
                name="delimiter"
                ng-value="item.delimiter"
                ng-change="vm.applyRawData(item.delimiter)"
              />
              {{item.label}}
            </label>
          </li>
          <li>
            <p>Choose latitude and longitude columns:</p>
            <div class="form-group">
              <label for="fmq-load-data-latitudeColumn">Latitude:</label>
              <select
                class="form-control"
                name="latitudeColumn"
                id="fmq-load-data-latitudeColumn"
                ng-model="vm.form.latitudeColumn"
                ng-options="idx*1 as column.name for (idx, column) in vm.founders.header"
                ng-change="vm.coordinateSelected()"
              >
                <option></option>
              </select>
            </div>

            <div class="form-group">
              <label for="fmq-load-data-longitudeColumn">Longitude:</label>
              <select
                class="form-control"
                name="longitudeColumn"
                id="fmq-load-data-longitudeColumn"
                ng-model="vm.form.longitudeColumn"
                ng-options="idx*1 as column.name for (idx, column) in vm.founders.header"
                ng-change="vm.coordinateSelected()"
              >
                <option></option>
              </select>
            </div>
          </li>
        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!vm.formValid" type="submit">Load</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
  </form>
</div>
