<div class="fmq-dashboard-page" fmq-show-image="a.show-image">
  <div class="container" ng-class="{'data-loaded': founders.header.length > 0}">
    <button
      class="btn btn-primary btn-load-data"
      ui-sref="root.dashboard.load-data({state: State.state})"
    >
      <span ng-show="founders.header == null || founders.header.length == 0">Load data</span>
      <span ng-show="founders.header.length > 0">Load data again</span>
    </button>
  </div>

  <div class="container table-container" ng-show="founders.header.length > 0">
    <h2>Table</h2>
    <div
      uib-alert
      type="info"
      ng-hide="selectColumnForMarkerDismissed"
      close="selectColumnForMarkerDismissed = true"
    >
      Choose a star in order to select column for marker labels.
    </div>

    <table
      ng-if="founders.header.length > 0"
      fmq-table
      founders="founders"
      marker-column="markerColumn"
      selected-items="selectedItems"
      sort-states="sortStates"
      filter-states="filterStates"
      view-item-callback="viewOnMap(index)"
    ></table>
  </div>

  <div class="container map-container" ng-if="founders.header.length > 0" id="fmq-map">
    <h2>Map</h2>
    <div
      fmq-map
      founders="founders"
      marker-column="markerColumn"
      selected-items="selectedItems"
      filter-states="filterStates"
      hooks="mapHooks"
    ></div>
  </div>
<div>
