<ui-gmap-google-map
  center="vm.center"
  zoom="vm.zoom"
  options="{scrollwheel: false}"
>
  <ui-gmap-window
    show="vm.markerWindow.show"
    coords="vm.markerWindow.model.coords"
    closeClick="vm.closeMarkerWindow()"
    templateUrl="vm.markerTemplateUrl"
    templateParameter="vm.markerWindow"
  ></ui-gmap-window>

  <ui-gmap-markers
    models="vm.markers"
    coords="'coords'"
    events="vm.markersEvents"
    doRebuildAll="true"
    fit="true"
  ></ui-gmap-markers>
</ui-gmap-google-map>
