<div ui-gmap-google-map
  center="map.center"
  zoom="map.zoom"
  options="{scrollwheel: false}"
>
  <div ui-gmap-window
    show="map.window.show"
    coords="map.window.model.data.coords"
    options="map.window.options"
    closeClick="map.window.closeClick()"
    templateUrl="'views/marker.html'"
    templateParameter="map.window"
  ></div>

  <div ui-gmap-markers
    models="markers"
    coords="'coords'"
    events="map.markersEvents"
    doRebuildAll="true"
    fit="true"
  ></div>
</div>
