<div class="fqm-about-page">
  <div class="jumbotron">
    <h1>Founders Quest Map</h1>
    <p class="lead">
      This page presents solution of <strong>Try Catch</strong> challenge.
    </p>
    <p>It was developed by <a href="https://milosz.ch/">Miłosz Chmura</a></p>

    <h2>Development Details</h2>

    <ul>
      <li><a href="https://github.com/renobit/vagrant-node-env">Vagrant/Virtualbox</a> machine</li>
      <li>Yeoman's <a href="https://github.com/yeoman/generator-angular">AngularJS generator</a></li>
      <li><a href="https://atom.io/">Atom.io</a> editor</li>
      <li>Trello <a href="https://trello.com/b/0NsrOTRq/founder-s-map-quest">board</a></li>
      <li>Git <a href="https://github.com/mieszko4/founders-map-quest">repository</a></li>
    </ul>
  </div>
<div>
