<div class="fmq-main-page">
  <div class="container" ng-class="{'data-loaded': Founders.header.length > 0}">
    <button
      class="btn btn-primary btn-load-data"
      ng-click="openLoadDataForm()"
    >
      <span ng-show="Founders.header == null || Founders.header.length == 0">Load data</span>
      <span ng-show="Founders.header.length > 0">Load data again</span>
    </button>
  </div>

  <div class="container table-container" ng-if="Founders.header.length > 0">
    <h2>Table</h2>
    <table
      fmq-table header="Founders.header"
      items="Founders.items"
      marker-column="markerColumn"
      selected-items="selectedItems"
    ></table>
  </div>

  <div class="container map-container" ng-if="Founders.header.length > 0">
    <h2>Map</h2>
    <div
      fmq-map
      items="Founders.items"
      marker-column="markerColumn"
      latitude-column="Founders.latitudeColumn"
      longitude-column="Founders.longitudeColumn"
    ></div>
  </div>
<div>
