<table class="fmq-table table table-striped">
  <thead>
    <tr>
      <th>
        <a class="all-items-selector" ng-click="vm.toggleAllSelection()">
          <span
            ng-show="!vm.allSelected"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display all on map"
          ></span>
          <span
            ng-show="vm.allSelected"
            class="glyphicon glyphicon-check"
            uib-tooltip="Display none on map"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in vm.founders.header">
        <a
          class="marker-column-chooser active"
          ng-show="vm.isMarker(column)"
        >
          <span
            class="glyphicon glyphicon-map-marker"
            uib-tooltip="This column is used as description for markers"
          ></span>
        </a>
        <a
          class="marker-column-chooser"
          ng-show="!vm.isMarker(column)"
          ng-click="vm.chooseAsMarker(column)"
        >
          <span
            class="glyphicon glyphicon-map-marker"
            uib-tooltip="Choose this column as description for markers"
          ></span>
        </a>
        <span class="column-label" ng-click="vm.chooseAsMarker(column)">{{column.name}}</span>
      </th>
    </tr>
    <tr>
      <th>
        <a class="filters-sorts-reset" ng-click="vm.resetFilters(); vm.resetSorts()">
          <span
            class="glyphicon glyphicon-trash"
            uib-tooltip="Clear all filters and sorting"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in vm.founders.header">
        <div class="column-filter-and-sorter">
          <form ng-submit="void">
            <input type="text" ng-model="vm.filterStates[$index]" ng-change="vm.setFilter(column, vm.filterStates[$index])" placeholder="Filter" />
          </form>
          <fmq-column-sorter
            state="vm.sortStates[$index]"
            change="vm.applySort(column, state)"
          ></fmq-column-sorter>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="item in filtered = (vm.founders.items | orderBy:vm.sortConfig.predicate:vm.sortConfig.reverse | filter:vm.passesFilter)"
      ng-class="{selected: vm.isSelected(item)}"
    >
      <td>
        <a class="item-selector" ng-click="vm.toggleSelection(item)">
          <span
            ng-show="!vm.isSelected(item)"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display on map"
          ></span>
          <span
            ng-show="vm.isSelected(item)"
            class="glyphicon glyphicon-check"
            uib-tooltip="Do not display on map"
          ></span>
        </a>
      </td>
      <td ng-repeat="value in item">
        <fmq-visualize
          data="{{value}}"
          type="{{type = vm.founders.detectType(value, vm.founders.header[$index])}}"
          ng-class="{'item-viewer': type == 'longitude' || type == 'latitude'}"
          ng-click="(type == 'longitude' || type == 'latitude') && vm.viewItem( {item: item})"
          ng-attr-uib-tooltip="{{((type == 'longitude' || type == 'latitude') && 'View on map') || undefined}}"
        ></fmq-visualize>
      </td>
    </tr>
    <tr ng-if="filtered.length == 0">
      <td colspan="{{vm.founders.header.length + 2}}" class="alert alert-info">
        <p>No items</p>
      </td>
    </tr>
  </tbody>
</table>
