<table class="fmq-table table table-striped">
  <thead>
    <tr>
      <th>
        <a class="all-items-selector" ng-click="toggleAllSelection()">
          <span
            ng-show="!allSelected"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display all on map"
          ></span>
          <span
            ng-show="allSelected"
            class="glyphicon glyphicon-check"
            uib-tooltip="Display none on map"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in founders.header">
        <a
          class="marker-column-chooser active"
          ng-show="isMarker(column)"
        >
          <span
            class="glyphicon glyphicon-map-marker"
            uib-tooltip="This column is used as description for markers"
          ></span>
        </a>
        <a
          class="marker-column-chooser"
          ng-show="!isMarker(column)"
          ng-click="chooseAsMarker(column)"
        >
          <span
            class="glyphicon glyphicon-map-marker"
            uib-tooltip="Choose this column as description for markers"
          ></span>
        </a>
        <span class="column-label" ng-click="chooseAsMarker(column)">{{column.name}}</span>
      </th>
    </tr>
    <tr>
      <th>
        <a class="filters-sorts-reset" ng-click="resetFilters(); resetSorts()">
          <span
            class="glyphicon glyphicon-trash"
            uib-tooltip="Clear all filters and sorting"
          ></span>
        </a>
      </th>
      <th ng-repeat="column in founders.header">
        <div class="column-filter-and-sorter">
          <form ng-submit="void">
            <input type="text" ng-model="filterStates[$index]" ng-change="setFilter(column, filterStates[$index])" placeholder="Filter" />
          </form>
          <fmq-column-sorter
            state="sortStates[$index]"
            change="applySort(column, state)"
          ></fmq-column-sorter>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="item in filtered = (founders.items | orderBy:sortConfig.predicate:sortConfig.reverse | filter:passesFilter)"
      ng-class="{selected: isSelected(item)}"
    >
      <td>
        <a class="item-selector" ng-click="toggleSelection(item)">
          <span
            ng-show="!isSelected(item)"
            class="glyphicon glyphicon-unchecked"
            uib-tooltip="Display on map"
          ></span>
          <span
            ng-show="isSelected(item)"
            class="glyphicon glyphicon-check"
            uib-tooltip="Do not display on map"
          ></span>
        </a>
      </td>
      <td ng-repeat="value in item">
        <span
          fmq-visualize
          data="{{value}}"
          type="{{type = founders.detectType(value, founders.header[$index])}}"
          ng-class="{'item-viewer': type == 'longitude' || type == 'latitude'}"
          ng-click="viewItem({item: item})"
        ></span>
      </td>
    </tr>
    <tr ng-if="filtered.length == 0">
      <td colspan="{{founders.header.length + 2}}" class="alert alert-info">
        <p>No items</p>
      </td>
    </tr>
  </tbody>
</table>
